<!--NAVBAR-->
<nav class="topNav">
    <!-- NAV -->
    <div class="hidden-xs nav-container" style="display: flex">
        <!--MENU-->
        <div class="nav-menu">
            <div class="logo">
                <img src="../../assets/img/logo.png" alt="logo">
                <span style="color: #ffffff">test</span>
            </div>
            <div>
                <a ng-click="viewShift('home')">HOME</a>
            </div>
            <div>
                <a ng-click="viewShift('author')">AUTHOR</a>
            </div>
        </div>

        <!--AUTHORIZATION-->
        <div ng-if="!currentUser.isLogged" class="auth">
            <div class="login">
                <a data-toggle="modal" data-target="#login">
                    <span>Sign in</span>
                </a>
            </div>
            <div>
                <a data-toggle="modal" data-target="#reg">
                    <span>Sign up</span>
                </a>
            </div>
        </div>

        <div ng-if="currentUser.isLogged" class="auth">
            <div class="login">
                <span class="userName-xs">
                    <img src="../../assets/img/user.png" alt="">
                    {{currentUser.name}}
                </span>
            </div>
            <div ng-controller="usersLogoutCtrl">
                <a ng-click="doLogout()">
                    <span>Logout</span>
                </a>
            </div>
        </div>
    </div>

    <!-- NAV XS-->
    <div class="hidden-md hidden-sm hidden-lg nav-container" style="display: flex; padding-top: 15px">
        <div class="nav-menu-xs">
            <div>
                <a ng-click="viewShift('home')">HOME</a>
            </div>
            <div>
                <a ng-click="viewShift('author')">AUTHOR</a>
            </div>
        </div>
        <!--AUTHORIZATION-->
        <div ng-if="!currentUser.isLogged" class="auth-xs">
            <div class="login">
                <a data-toggle="modal" data-target="#login">
                    <span>Sign in</span>
                </a>
            </div>
            <div>
                <a data-toggle="modal" data-target="#reg">
                    <span>Sign up</span>
                </a>
            </div>
        </div>

        <div ng-if="currentUser.isLogged" class="auth-xs">
            <div class="login">

                <span class="userName-xs">
                    <img src="../../assets/img/user.png" alt="">
                    {{currentUser.name}}
                </span>
            </div>
            <div ng-controller="usersLogoutCtrl">
                <a ng-click="doLogout()">
                    <span>Logout</span>
                </a>
            </div>
        </div>
    </div>
</nav>
<!--NAVBAR-->

<!--USER AUTH-->
<div ng-controller="usersMainCtrl">
    <ng-include src="'views/00_general/02_sign_modals.html'"></ng-include>
</div>
<!--USER AUTH-->
