<!-- REGISTRATION NEW MODAL *START* -->
<div id="reg" class="modal fade" ng-controller="usersRegisterCtrl">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header modals-header">
                <button class="close" type="button" data-dismiss="modal">close</button>
                <h4 class="modal-title">SIGN UP</h4>
            </div>
            <div class="modal-body">
                <div class="modal-main">
                    <form name="registrationForm" novalidate>
                        <div>
                            <div class="form-group"
                                 ng-class="(registrationForm.registrationLogin.$invalid
                                 && registrationForm.registrationLogin.$touched)? 'has-error' : 'has-success'">
                                <label>Login*</label>
                                <input name="registrationLogin"
                                       class="form-control"
                                       ng-model="user.login"
                                       type="text"
                                       required
                                       ng-minlength='2'
                                       placeholder="Enter your login">
                            </div>
                            <div ng-if="registrationForm.registrationLogin.$invalid
                                 && registrationForm.registrationLogin.$touched"
                                 class="alert alert-danger err-block text-center" role="alert">
                                Login field is required, min 2 symbols!!
                            </div>
                            <div class="form-group"
                                 ng-class="(registrationForm.registrationPassword.$invalid
                                 && registrationForm.registrationPassword.$touched)? 'has-error' : 'has-success'">
                                <label>Password*</label>
                                <input name="registrationPassword"
                                       class="form-control"
                                       ng-model="user.password"
                                       type="password"
                                       required
                                       ng-minlength='2'
                                       placeholder="Enter your password">
                            </div>
                            <div ng-if="registrationForm.registrationPassword.$invalid
                                 && registrationForm.registrationPassword.$touched"
                                 class="alert alert-danger err-block text-center" role="alert">
                                Password field is required, min 2 symbols!!
                            </div>
                            <div class="form-group"
                                 ng-class="user.password !== user.confirmPassword? 'has-error' : 'has-success'">
                                <label>Confirm*</label>
                                <input name="confirmPassword"
                                       class="form-control"
                                       ng-model="user.confirmPassword"
                                       type="password"
                                       required
                                       ng-minlength='2'
                                       placeholder="Confirm password">
                            </div>
                            <div ng-if="user.password !== user.confirmPassword"
                                 class="alert alert-danger err-block text-center" role="alert">
                                Passwords must be the same!
                            </div>
                            <hr>
                            <div class="form-group"
                                 ng-class="(registrationForm.registrationName.$invalid
                                 && registrationForm.registrationName.$touched)? 'has-error' : 'has-success'">
                                <label>Name*</label>
                                <input name="registrationName"
                                       class="form-control"
                                       ng-model="user.name"
                                       type="text"
                                       required
                                       ng-minlength='2'
                                       placeholder="Enter your name">
                            </div>
                            <div ng-if="registrationForm.registrationName.$invalid
                                 && registrationForm.registrationName.$touched"
                                 class="alert alert-danger err-block text-center" role="alert">
                                Name field is required, min 2 symbols!!
                            </div>

                            <button type="submit" class="btn btn-success btn-block"
                                    ng-disabled="registrationForm.$invalid" data-dismiss="modal"
                                    ng-click="doRegister(user)">
                                <b>SIGN UP</b>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- REGISTRATION NEW MODAL *END* -->

<!-- LOGIN NEW MODAL *START* -->
<div id="login" class="modal fade" ng-controller="usersLoginCtrl">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header modals-header">
                <button class="close" type="button" data-dismiss="modal">close</button>
                <h4 class="modal-title">SIGN IN</h4>
            </div>
            <div class="modal-body wed-modals-s">
                <div class="add-new-proj-main">
                    <form name="loginForm" novalidate ng-submit="">
                        <div>
                            <div class="form-group"
                                 ng-class="(loginForm.login.$invalid
                                 && loginForm.login.$touched)? 'has-error' : 'has-success'">
                                <label>Login*</label>
                                <input name="login"
                                       class="form-control"
                                       ng-model="user.login"
                                       type="text"
                                       required
                                       ng-minlength='2'
                                       placeholder="Enter your login">
                            </div>
                            <div ng-if="loginForm.login.$invalid
                                 && loginForm.login.$touched"
                                 class="alert alert-danger err-block text-center" role="alert">
                                Login field is required, min 2 symbols!
                            </div>
                            <div class="form-group"
                                 ng-class="(loginForm.password.$invalid
                                 && loginForm.password.$touched)? 'has-error' : 'has-success'">
                                <label>Password*</label>
                                <input name="password"
                                       class="form-control"
                                       ng-model="user.password"
                                       type="password"
                                       required
                                       ng-minlength='2'
                                       placeholder="Enter your password">
                            </div>
                            <div ng-if="loginForm.password.$invalid
                                 && loginForm.password.$touched"
                                 class="alert alert-danger err-block text-center" role="alert">
                                Password field is required, min 2 symbols!
                            </div>

                            <button type="submit" class="btn btn-success btn-block"
                                    ng-disabled="loginForm.$invalid"
                                    data-dismiss="modal"
                                    ng-click="doLogin(user)">
                                <b>SIGN IN</b>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- LOGIN NEW MODAL *END* -->