<!--navbar-->
<div>
    <ng-include src="'views/00_general/01_navbar.html'"></ng-include>
</div>
<!--navbar-->

<div class="container-fluid text-center start-body">
    <div>
        <h1> WELCOME TO
            <span>
                <img src="../../assets/img/logo2.png" alt="">
                <span>test</span>
            </span>
            APP!
        </h1>
    </div>
    <div>
        <h2> please, sign up or sign in to continue </h2>
    </div>
    <div>
        <h3> by Aleksey Kolyasa, 2017 </h3>
    </div>
</div>